<carousel [noPause]="false">
  <slide>
    <img src="assets/img/photo_0.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption button-center">
      <div class="undertext">
        <h1>Lorem Ipsum</h1>
      </div>
      <button type="button" class="btn btn-danger">Read More</button>
    </div>
  </slide>
  <slide>
    <img src="assets/img/photo_1.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption text-center">
      <div class="undertext">
        <h1>Lorem Ipsum</h1>
      </div>
      <button type="button" class="btn btn-danger">Read More</button>
    </div>
  </slide>
  <slide>
    <img src="assets/img/photo_2.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption text-center">
      <div class="undertext">
        <h1>Lorem Ipsum</h1>
      </div>
      <button type="button" class="btn btn-danger">Read More</button>
    </div>
  </slide>
</carousel>
